RewriteEngine On
RewriteCond %{HTTP_HOST} ^.+$ / [R=302,NC,L]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ / [R,L]

#RewriteEngine on
#RewriteCond %{REQUEST_URI} !^/index.php$
#RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|css|js|eot|svg|ttf|woff)$
#RewriteRule ^.+$ / [R=302,NC,L]

